@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family:Bahnschrift;
	src: url(file/Bahnschrift.ttf);
}
@font-face
{
	font-family:Trebuchet;
	src: url(file/Trebuchet.ttf);
}
@font-face
{
	font-family:Bebas;
	src: url(file/Bebas.ttf);
}
.wrapper
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-size: 100% auto;
	font-family: Bahnschrift;
}
.mySlides
{
	display:none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.wrapper header
{
	width:100%;
	height: 65px;
	background-color: #1E1E1E;
}
.wrapper header logo
{
	position:fixed;
	color: white;
	font-size: 40px;
	padding: 10px;
	font-family:Bahnschrift;
}
.navbar
{
	position:fixed;
	float:left;
	margin-top:65px;
	width:100%;
	color: white;
	font-size: 25px;
	font-family:Bahnschrift;
	padding:10px;
}
.navbar span
{
	float:right;
}
.navbar:hover
{
	background-color:red;
	transition-duration: 0.5s;
}
.wrapper main table
{
	margin-top:150px;
	width:80%;
	font-family:Trebuchet;
}
.wrapper main table tr th
{
	font-size: 40px;
	color: white;
	
}
.wrapper main table tr td
{
	font-size: 25px;
	color: white;
	text-align:center;
}

.wrapper footer
{
	position: fixed;
	bottom: 0;
	width:100%;
	color: white;
	font-family:Bahnschrift;
}
.wrapper footer table
{
	width:100%;
	text-align:center;
	font-size:15px;
	padding-bottom:5px;
}
a
{
	text-decoration:none;
	color:inherit;
	margin-right: 30px;
}