@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("file/Font/segoeui.ttf");
}

body {
	margin: 0;
}

/*================ INFO GRAFIS ==========================*/
.infoGrafis {
	background-color: #FFF4F4;
	padding-top: 10px;
}
.infoGrafis h2 {
	margin-top: 30px;
	text-align: center;
	font-family: Bahnschrift;
	font-size: 30px;
	color: #0077b6;
}
.slideshow-container {
	  padding-top: 20px;
	  margin: auto;
	  justify-content: center;
    max-width: 1000px;
	  width: 90%;
}
.slides {
      display: none;
}

.slides img {
     width: 100%;
     display: flex;  
}

/* Caption text */
.caption {
    color: #f2f2f2;
	  font-family: Trebuchet;
    font-size: 18px;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
 }
    /* Dots */
    .dots {
      text-align: center;
      margin: 10px 0;
    }

    .dot {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 3px;
      background: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background 0.3s;
    }

    .active, .dot:hover {
      background: #717171;
    }

    /* Thumbnail images */
    .thumbnail-row {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
      padding-bottom: 50px;
      flex-wrap: wrap;
    }

    .thumbnail-row img {
      width: 80px;
      height: 50px;
      object-fit: cover;
      cursor: pointer;
      transition: 0.3s;
    }

    .thumbnail-row img:hover, .thumbnail-row img.active-thumb {
      opacity: 1;
    }
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .thumbnail-row img {
      width: 70px;
      height: 35px;
      object-fit: cover;
      cursor: pointer;
      opacity: 0.6;
      transition: 0.3s;
    }
}
/* ============================================ SAMBUTAN KABAN ==============================*/
.pidato-kaban {
	background-color: beige;
	/*background-image: url(images//index_pict/1.jpg);
	background-size: cover;*/
	padding-bottom: 40px;
	overflow: hidden;
	text-align: center;
}
.pidato-kaban h2{
	font-family: FreeHand;
	font-size: 50px;
	color: #0077b6;
}
.pidato-kaban h2 p {
	font-family: Bahnschrift;
	font-size: 20px;
	text-align: center;
	color: #0077b6;
	margin-top: 0px;
}
.pidato-kaban p {
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	font-family: SegoeUI;
}
.pidato-kaban img {
	float: right;
	margin-right: 0;
	width: 300px;
}
.isiPidato {
  font-style: italic;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .pidato-kaban p {
	  font-size: 15px;
	  padding: 10px;
	}
  .pidato-kaban img{
	  width: 60%;
	}
}
/* =================================== STATISTIK =========================================*/
.asn-rekap {
	margin-top: 20px;
	position: static;
	overflow: hidden;
	background-color: white;
	text-align: center;
	
}
.asn-rekap h2{
	font-family: Bahnschrift;
	font-size: 30px;
	color: #0077b6;
}
.asn-rekap h2 p {
	font-family: Bahnschrift;
	font-size: 20px;
	text-align: center;
	color: #0077b6;
	margin-top: 0px;
}
.chart-rekap {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.chart-rekap .chart {
	padding: 20px;
}
.chart-rekap canvas{
	padding-bottom: 0px;
}