@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("file/Font/segoeui.ttf");
}
body {
	margin: 0;
}
/* ============================================ CONTENT ==============================*/
.pengumuman {
	text-align: center;
	font-size: 30px;
	font-family: Segoe UI;
	color: #0077b6;
}
.breadcrumb {
   background-color: aliceblue;
   margin: 10px;
   text-align: center; 
   padding: 20px; 
   width: 50%;
}
.pengumuman h1 {
   font-size: 30px;
}
.pengumuman p {
   font-size: 20px;
   text-align: justify;
   width: 100%;
}

@media screen and (max-width: 800px) {
   .pengumuman {
      font-size: 40px;
   }
   .breadcrumb{
   text-align: center; 
   padding-left: 20px; 
   padding-right: 20px;
   width: 100%;

}
